<html lang='en'>

  <body>
    {{! Main content }}
    <div>
      <p>{{#if fullName}}{{fullName}}{{else}}{{emailAddress}}{{/if}}
        has provided feedback and is happy to be contacted.</p>

      <p>Please review the details on the Feedback list reference number {{referenceNumber}}.</p>
    </div>

    <br />

    {{! Email signature }}
    <div>
      <p>
        &nbsp;<span style='color:#193e72;font-size:19px;'><strong>Find, Recruit and Follow-up</strong></span></p>
      <br>
      <table style='width:540px;border-collapse:collapse'>
        <tbody>
          <tr>
            <td style='width:162px;'>
              <p>&nbsp;<img src='https://www.nihr.ac.uk/layout/4.0/assets/external/nihr-logo.png' alt='NIHRLogo' width='206'
                  class='CToWUd' data-bit='iit' /></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>