$color--find: #FFF6E6;
$color--recruit: #E1EEF0;
$color--follow-up: #E0DFF1;

.container {
  display: flex;
  column-gap: 1em;
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: opacity 0.3s;
    background: #aaa;
    opacity: 0;
    content: '';
    width: 1px;
    height: 1px;
  }
}

.container.loading {
  &:after {
    opacity: 0.5;
    width: auto;
    height: auto;
  }
}

.containerExtraPadding {
  column-gap: 5em;
}

.form {
  min-width: 298px;

  label {
    display: block;
  }

  fieldset {
    border: 1px solid gray;
    margin-bottom: 1em;
  }
}

.results {
  width: 100%;
}

.resultHeader {
  position: relative;
  display: flex;
  column-gap: 2em;

  > *:last-child {
    margin-left: auto;
  }
}

.resultSorting {
  margin: 20px 0 0 10px
}

.resultItem {
  border: 1px solid gray;
  padding: 1em;
  margin-bottom: 1em;

  > *:first-child {
    margin-top: 0;
  }
}

.providerDetailsContainer {
  display: flex;
  column-gap: 2em;
}

.providerDetailsSecondary {
  min-width: 165px;
}

.providerCostTable {
  border-top: 1px solid #B1B4B6;
  border-collapse: collapse;
}

.providerCostTable tbody tr {
  border-bottom: 1px solid #B1B4B6;
}

.providerCostTableDetailColumn {
  padding: 0 20px;
  width: 100%;
}

.providerCostTableTypeColumn {
  padding: 5px 8px 4px;
  min-width: 136px;
  text-align: center;
  text-transform: uppercase !important;
}

.providerCostTableTypeColumnFind {
  @extend .providerCostTableTypeColumn;
  background: $color--find;
}

.providerCostTableTypeColumnRecruit {
  @extend .providerCostTableTypeColumn;
  background: $color--recruit;
}

.providerCostTableTypeColumnFollowUp {
  @extend .providerCostTableTypeColumn;
  background: $color--follow-up;
}

.yesNoList {
  list-style: none;
  margin-top: 0;

  li::before {
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

.yesNoListPositive {
  @extend .yesNoList;

  li::before {
    content: '✓';
    color: green;
  }
}

.yesNoListNegative {
  @extend .yesNoList;

  li::before {
    content: 'x';
    color: red;
  }
}

.providerFooter {
  display: flex;
  column-gap: 2em;
  padding-top: 12px;

  > *:last-child {
    margin-left: auto;
  }
}

.providerViewBtn {
  margin-top: -5px;

  background: #00703C;
  box-shadow: inset 0px -2px 0px #002D18;
  padding: 5px 10px;

  a, a:visited, a:hover, a:active {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.detailSecondary {
  min-width: 298px !important;
}

.providerWrapper {
  padding: 0 0 20px 0;
}

.goBackLink {
  cursor: pointer;

  &:before {
    content: '< ';
  }

  a, a:visited, a:hover, a:active {
    text-decoration: underline;
  }
}

.youTubeVideoThumbnail {
  cursor: pointer;
}

.providerPageSubTitle {
  width: 100%;
  padding: 10px;
  background: #EFF1F3;
}

.serviceTypeTitleFind {
  @extend .providerPageSubTitle;
  background: $color--find;
}

.serviceTypeTitleRecruit {
  @extend .providerPageSubTitle;
  background: $color--recruit;
}

.serviceTypeTitleFollowUp {
  @extend .providerPageSubTitle;
  background: $color--follow-up;
}
