.container {
  display: flex;
  column-gap: 1em;
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: opacity 0.3s;
    background: #aaa;
    opacity: 0;
    content: '';
    width: 1px;
    height: 1px;
  }
}

.container.loading {
  &:after {
    opacity: 0.5;
    width: auto;
    height: auto;
  }
}

.form {
  min-width: 250px;

  label {
    display: block;
  }

  fieldset {
    border: 1px solid gray;
    margin-bottom: 1em;
  }
}

.resultHeader {
  position: relative;
  display: flex;
  column-gap: 2em;

  > *:last-child {
    margin-left: auto;
  }
}

.resultSorting {
  top: 30px;
  height: 39px
}

.resultItem {
  border: 1px solid gray;
  padding: 1em;
  margin-bottom: 1em;

  > *:first-child {
    margin-top: 0;
  }
}

.providerDetails {
  display: flex;
  column-gap: 2em;
}

.providerDataTypes {
  min-width: 165px;
}

.providerFooter {
  display: flex;
  column-gap: 2em;
  padding-top: 12px;

  > *:last-child {
    margin-left: auto;
  }
}

.providerViewBtn {
  margin-top: -5px;

  background: #00703C;
  box-shadow: inset 0px -2px 0px #002D18;
  padding: 5px 10px;

  a, a:visited, a:hover, a:active {
    color: #FFFFFF;
    text-decoration: none;
  }
}
